#Editor {
    /* background-color: purple; */
    background: linear-gradient(180deg, #5222ff, #2653f5);

    width: 80px;
    height: 80px;
    position: fixed;
    top: 5em;
    /* right: 10px; */
    left: 10px;
    transition: all 0.15s ease-in-out;
    z-index: 100;
    border-radius: 50%;
    cursor:pointer;
   
    overflow: hidden;
}


.saveAll{
    width: 100%;
    height: 4em;
    background-color: #FFB800;
    color: black;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 1em 0;

}

.resetAll{

    width: 100%;
    height: 4em;
    background-color: red;
    color: black;
    font-weight: 700;
    border: none;
    cursor: pointer;

}
#Editor .Edit_space{
    display: none;
    padding: 1em;
    color: white;
    display: none;
    flex-direction: column;
}


.editorLogo{

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

.editorLogo.active{
    cursor: move;
    user-select: none;
}

.one_space_edit{
    /* background-color: red; */
    padding: 0.5em 0;
}

.one_space_edit input{
    width: 100%;
    margin: 0.5em 0;
    padding:1em 0.5em;
  
}



.EditBtn{
    background-color: #FFB800;
    border: none;
    width: 3em;
    height: 2.5em;
    cursor: pointer;

}


/* inside Form Inputs */

.one_space_edit .newDescription_input{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 8em;
    min-height: 8em;
    margin: 0.5em 0;
    padding:0.5em 0.5em;


}

.SEND{
    border:1px solid gray;
}
.disablable{
    transition: all 0.25s;
    
}

.one__social{
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.one__social label{
    width: 50%;
}

.one__social input{
    width: 40px;
}






/* inside category inputs */

.from_one_to_seven_DIV{
    width: 100%;
    height: 2em;
    margin: 0.5em 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberSquare{
    width: 13%;
    height: 2em;
    background-color: #FFB800;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}



.activeModel{
    background-color: teal;
}

.inside_Category{
    width: 100%;
    margin: 0.5em;
}

.one_space_edit .Parcourir{
   width: 10em;

}

/* hide DOM categories */

.hide_Category{
    display: none;
}